<div id="donation">
    <div class='col-md-12 text-center' style="background-color: rgb(71, 71, 71)" >
            <header class="typeHeading" style="background-color: rgb(255, 255, 255);">
                <h1 style="color: rgb(255, 255, 255); background-color: red;"><a class="blink" style="text-align: center;">Donation Portal</a></h1>
                <img src="assets/images/gifs/Donation1.gif" style="height: 20rem; width: 20rem;">
                <img src="assets/images/Donation3.jpg" style="height: 20rem; width: 45rem;">
                <img src="assets/images/gifs/Donation2.jpg" style="height: 20rem; width: 15rem;"><hr>
                

                    <mat-expansion-panel >
                      <mat-expansion-panel-header style="background-color: #0a2351;  ">
                        <mat-panel-title>
                        <button mat-raised-button   style="margin-left: 4.7in; width: 4in; color: white; background-color: rgba(0, 0, 0, 0.781); font-size: 1.2rem;"><u>Book Blood Stock</u></button>
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                      <app-content></app-content>
                    </mat-expansion-panel>
                    <mat-expansion-panel >
                      <mat-expansion-panel-header style="background-color: #034694;">
                        <mat-panel-title>
                        <button mat-raised-button   style="margin-left: 4.7in; width: 4in; color: white; background-color: rgba(0, 0, 0, 0.781); font-size: 1.2rem;"><u>Blood Camps Across The City</u></button>
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                      <app-bloodcamp></app-bloodcamp>
                    </mat-expansion-panel> 
                    <mat-expansion-panel >
                      <mat-expansion-panel-header style="background-color: #1560bd;  ">
                        <mat-panel-title>
                          <a><b><button mat-raised-button  style="margin-left: 4.7in; width: 4in; color: white; background-color:rgba(0, 0, 0, 0.781); font-size: 1.2rem;"><u>Online Blood Donation Request</u></button></b></a>
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                      <app-donationportal></app-donationportal>
                    </mat-expansion-panel>
                     <mat-expansion-panel >
                      <mat-expansion-panel-header style="background-color: #1877F2; ">
                        <mat-panel-title>
                          <button mat-raised-button   style="margin-left: 4.7in; width: 4in;  color: white; background-color: rgba(0, 0, 0, 0.781); font-size: 1.2rem; "><u>Organise A Camp</u></button>
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-orgcamp></app-orgcamp>
                    </mat-expansion-panel>
                  
               
            
            </header><br><br><br>
        
    </div>
