.donation-care{
background: #00d2ff;  
background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  
background: linear-gradient(to right, #928DAB, #00d2ff); 
}

.city{
background: #0B486B;  
background: -webkit-linear-gradient(to right, #F56217, #0B486B);
background: linear-gradient(to right, #F56217, #0B486B);

}
