<section id="process" class="donation-care">
    <div class="city">
      
          <h2 style="background-color: red; color: white;text-align: center;"><b>Donation Process</b></h2>
         
          <h2 style="text-align: center; background-color: rgb(31, 31, 31); color: white; font:icon;"><strong> The Donation Process from the time you arrive to the Blood Donation Center until the time you leave. The donation itself is only about 8-10 minutes on average.</strong></h2>               
          
          <div class="row"><br>
            <div class="col-md-3 col-sm-6 vd">
               <div class="bkjiu" style="height: 5.5in; background-color: rgba(190, 190, 190, 0.541);">
                <img src="assets/images/gallery/g1.jpg" alt="">
                <h2 style="text-align: center;  color: black"><b><u>Registration</u></b></h2>
                <ul>
                  <li style="text-align: center;  color: black">We’ll sign you in and go over a basic eligibility.</li><hr>
                  <li style="text-align: center;  color: black">You’ll be asked to show ID, such as your driver’s license.</li><hr>
                  <li style="text-align: center;  color: black">You’ll read some information about donating blood.</li><hr>
                  <li style="text-align: center;  color: black">We’ll ask you for your complete address.  Your place where you will receive your mail 8 weeks from donation.</li>
                </ul>
                   </div>
            </div>
            <div class="col-md-3 col-sm-6 vd">
               <div class="bkjiu" style="height: 5.5in; background-color: rgba(190, 190, 190, 0.541);">
                <img src="assets/images/gallery/g2.jpg" alt="">
                <h2 style="text-align: center;  color: black"><b><u>Health History</u></b></h2>
                   <ul>
                     <li style="text-align: center;  color: black">You’ll answer a few questions about your health history and places you’ve traveled, during a private and confidential interview.</li><hr>
                     <li style="text-align: center;  color: black">You’ll tell us about any prescription and/or over the counter medications that may be in your system.</li><hr>
                     <li style="text-align: center;  color: black">We’ll check your temperature, pulse, blood pressure and hemoglobin level. </li>
                     </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 vd">
               <div class="bkjiu" style="height: 5.5in; background-color: rgba(190, 190, 190, 0.541);">
                <img src="assets/images/gallery/g3.jpg" alt="">
                   <h2 style="text-align: center;  color: black"><b><u>Your Donation</u></b></h2>
                   <ul>
                     <li style="text-align: center;  color: black">If you’re donating whole blood, we’ll cleanse an area on your arm and insert a brand new sterile needle for the blood draw. (This feels like a quick pinch and is over in seconds.)</li><hr>
                    
                     <li style="text-align: center;  color: black">A whole blood donation takes about 8-10 minutes, during which you’ll be seated comfortably or lying down.</li><hr>
                     <li style="text-align: center;  color: black">When approximately a pint of whole blood has been collected, the donation is complete and a staff person will place a bandage on your arm.</li>
                     
                  </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 vd">
               <div class="bkjiu" style="height: 5.5in; background-color: rgba(190, 190, 190, 0.541);">
                   <img src="assets/images/gallery/g4.jpg" alt="">
                   <h2 style="text-align: center;  color: black"><b><u>Refreshment and Recovery</u></b></h2>
                   <ul>
                     <li style="text-align: center;  color: black">After donating blood, you’ll have a snack and something to drink in the refreshment area.</li><hr>
                     <li style="text-align: center;  color: black">You’ll leave after 10-15 minutes and continue your normal routine.</li><hr>
                     <li style="text-align: center;  color: black">Enjoy the feeling of accomplishment knowing you are helping to save lives.</li><hr>
                     <li style="text-align: center;  color: black">Take a selfie, or simply share your good deed with friends. It may inspire them to become blood donors. </li>
                   </ul>
               </div> 
            </div>
       </div>
       <div class="col-lg-6" style="left: 7.5cm;">
       <img src="assets/images/Flowcharts/FC1.png" style="height: 550px; width: 600px;"><hr>
    </div>
      </div>
   
</section><hr>

<div class="container">
<div class=" card card-chart" style="background-color: rgb(38, 33, 54); color: white;">
   <div class=" card-header">
     <div class=" row">
       <div class=" col-sm-6 text-left">
         <h5 class=" card-category">Blood Donation Statistics - 2020</h5>
         <h2 class=" card-title">Value in terms of Pint</h2>
       </div>
       <div class=" col-sm-6">
         <div
           class=" btn-group btn-group-toggle float-right"
           data-toggle="buttons"
         >
           <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[0];updateOptions();clicked=true;
           clicked1=false;clicked2=false;clicked3=false;clicked4=false;clicked5=false;clicked6=false;clicked7=false" [ngClass]="{'active':clicked===true}">
             <input checked="checked" name="options" type="radio" />

             <span
               class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
             >
               A+ve
             </span>
             <span class=" d-block d-sm-none">
               <i class=" tim-icons icon-single-02"> </i>
             </span>
           </label>
           <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[1];updateOptions();clicked=false;
           clicked1=true;clicked2=false;clicked3=false;clicked4=false;clicked5=false;clicked6=false;clicked7=false" [ngClass]="{'active':clicked1===true}">
             <input
               class=" d-none d-sm-none"
               name="options"
               type="radio"
             />

             <span
               class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
             >
               A-ve
             </span>
             <span class=" d-block d-sm-none">
               <i class=" tim-icons icon-gift-2"> </i>
             </span>
           </label>
           <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[2];updateOptions();clicked=false;
           clicked1=false;clicked2=true;clicked3=false;clicked4=false;clicked5=false;clicked6=false;clicked7=false" [ngClass]="{'active':clicked2===true}">
             <input class=" d-none" name="options" type="radio" />

             <span
               class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
             >
               B+ve
             </span>
             <span class=" d-block d-sm-none">
               <i class=" tim-icons icon-tap-02"> </i>
             </span>
           </label>
           <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[3];updateOptions();clicked=false;
           clicked1=false;clicked2=false;clicked3=true;clicked4=false;clicked5=false;clicked6=false;clicked7=false" [ngClass]="{'active':clicked3===true}">
            <input checked="checked" name="options" type="radio" />

            <span
              class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
            >
              B-ve
            </span>
            <span class=" d-block d-sm-none">
              <i class=" tim-icons icon-single-02"> </i>
            </span>
          </label>
          <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[4];updateOptions();clicked=false;
          clicked1=false;clicked2=false;clicked3=false;clicked4=true;clicked5=false;clicked6=false;clicked7=false" [ngClass]="{'active':clicked4===true}">
            <input checked="checked" name="options" type="radio" />

            <span
              class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
            >
              O+ve
            </span>
            <span class=" d-block d-sm-none">
              <i class=" tim-icons icon-single-02"> </i>
            </span>
          </label>
          <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[5];updateOptions();clicked=false;
          clicked1=false;clicked2=false;clicked3=false;clicked4=false;clicked5=true;clicked6=false;clicked7=false" [ngClass]="{'active':clicked5===true}">
            <input checked="checked" name="options" type="radio" />

            <span
              class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
            >
              O-ve
            </span>
            <span class=" d-block d-sm-none">
              <i class=" tim-icons icon-single-02"> </i>
            </span>
          </label>
          <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[6];updateOptions();clicked=false;
          clicked1=false;clicked2=false;clicked3=false;clicked4=false;clicked5=false;clicked6=true;clicked7=false" [ngClass]="{'active':clicked6===true}">
            <input checked="checked" name="options" type="radio" />

            <span
              class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
            >
              AB+ve
            </span>
            <span class=" d-block d-sm-none">
              <i class=" tim-icons icon-single-02"> </i>
            </span>
          </label>
          <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[7];updateOptions();clicked=false;
          clicked1=false;clicked2=false;clicked3=false;clicked4=false;clicked5=false;clicked6=false;clicked7=true" [ngClass]="{'active':clicked7===true}">
            <input checked="checked" name="options" type="radio" />

            <span
              class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
            >
              AB-ve
            </span>
            <span class=" d-block d-sm-none">
              <i class=" tim-icons icon-single-02"> </i>
            </span>
          </label>
         </div>
       </div>
     </div>
   </div>
   <div class=" card-body">
     <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
   </div>
 </div>
</div>
                     
                      
   
     
            



