<p></p>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin-left: 2.5rem;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff4d4d;
  color: white;
}
</style>
</head>

<h2 style="color: rgb(251, 255, 0); text-align: center; ">Forthcoming Blood Camps In The City</h2>
<div style="background-color: white;"><br>
  <table id="customers">
    <tr>
     <th style="text-align: center;">Serial</th>
     <th style="text-align: center;">Blood Camp </th>
     <th style="text-align: center;">Location</th>
     <th style="text-align: center;">Date</th>
     <th style="text-align: center;">Time</th>
     <th style="text-align: center;">Organizer</th>
   </tr>

   <tr>
    <td>1</td>
    <td>Rakt Kosh Donation Camp</td>
    <td>Bal Gandharva Rang Mandir,Shivaji Nagar</td>
    <td>7 May 2021</td>
    <td>9am to 1pm and 4pm to 8pm</td>
    <td>Pune Blood Foundation</td>
  </tr>
  <tr>
    <td>2</td>
    <td>RaktaDaan Shibir</td>
    <td>Bal Shikshan Mandir Ground, Mayur Colony, Kothrud</td>
    <td>16 May 2021</td>
    <td>8am to 1pm and 4pm to 8pm</td>
    <td>Deenanath Mangeshkar Hospital Blood Bank</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Blood Donation Camp</td>
    <td>Zensar IT Ground,Kharadi</td>
    <td>10 June 2021</td>
    <td>8am to 4pm</td>
    <td>Panchshil Charitable Trust</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Rotary Blood Donation Camp</td>
    <td>Maruti Mandir,Anand Nagar, Sinhagad Rd</td>
    <td>21 June 2021</td>
    <td>8am to 4pm</td>
    <td>Rotary Club Pune</td>
  </tr>
  </table><br>
  </div>
  <hr>


  
  



  