<h2 mat-dialog-title style="text-align: center; background-color: red; color: white;"><u>International Plasma Awareness Week</u></h2>
<mat-dialog-content style="background-color: white;">
    
    <p><img src="assets/images/PopUp/Plasma2.jpg" width="250px" height="200px">
    <img src="assets/images/PopUp/Plasma1.jpg" width="500px" height="200px">
    <img src="assets/images/gifs/Plasma3.gif" width="250px" height="200px"></p><hr>
    
    <p style="font: icon;">The <strong>  The 2020 International Plasma Awareness Week (IPAW)</strong> was held October 5-9. </p>
    <p><b>This event is held annually and is designed to:</b></p>
        <p>1) Raise global awareness about source plasma collection</p>
        <p>2) Recognize the contributions of plasma donors to saving and improving lives </p>
        <p>3) Increase understanding about lifesaving plasma protein therapies and rare diseases</p>
        
       
 
 

</mat-dialog-content>