<h2 mat-dialog-title style="text-align: center; background-color: red; color: white;"><u>World Thalassemia Day</u></h2>
<mat-dialog-content style="background-color: white;">
    
    <p><img src="assets/images/PopUp/WTD2.jpg" width="250px" height="200px">
    <img src="assets/images/PopUp/WTD1.jpg" width="500px" height="200px">
    <img src="assets/images/gifs/WTD3.gif" width="250px" height="200px"></p><hr>
    
    <p style="font: icon;">Celebrated on the <strong> 8th of May, </strong>  the <strong> World Thalassaemia Day</strong> is devoted to raising awareness amongst the general public and decision-makers about thalassaemia, 
        promoting and strengthening the lifelong and difficult struggle of patients against this severe blood disease, and commemorating all the people who are no longer with us, while renewing our 
        promise to keep fighting until the final cure for thalassaemia is found.</p>
        <p><b>Objectives:</b></p>
        <p>1) Raising awareness on Thalassemia, its symptoms, and ways to live with it.</p>
        <p>2) Raising awareness on the importance of consulting a doctor before marriage if a person has thalassemia. </p>
        <p>3) Raising awareness on the importance of vaccinations for children's health, society and the whole world. </p>
        <p>4) Redressing misconceptions about vaccinations. </p>
       

 

</mat-dialog-content>