<div id="General">
<div class='row' style='padding-top:4px; color: black; background-color: white;'>

<br><br>
<p></p>
<div  class="wow col-sm-8 text-center" >

<picture >

<img src='assets/images/home/donationFact.jpg' alt='One Donation Can save upto three lives'>
</picture>
<br>
<br>
<p></p>
<blockquote><h2>
   <p style='font-family:oswald'>After donating blood, the body works to replenish the blood loss. This stimulates the production of new blood cells and in turn, helps in maintaining good health.</p>
</h2> 
</blockquote>

   
<br><br>
</div>
     
    <ul ></ul> 
     <div class='col-sm-4'>
     <table class="table table-responsive  ">
<tbody>
<tr>
<th colspan="6" style='color:rgb(255, 255, 255);background-color:red; font:caption; text-align: center;'>Compatible Blood Type Donors</th>
</tr>
<tr>
<td><b>Blood Type</b></td>
<td><b>Donate Blood To</b></td>
<td><b>Receive Blood From</b></td>
</tr>
<tr>
<td><span style="color: #961e1b;"><b>A+</b></span></td>
<td>A+ AB+</td>
<td>A+ A- O+ O-</td>
</tr>
<tr>
<td><span style="color: #961e1b;"><b>O+</b></span></td>
<td>O+ A+ B+ AB+</td>
<td>O+ O-</td>
</tr>
<tr>
<td><span style="color: #961e1b;"><b>B+</b></span></td>
<td>B+ AB+</td>
<td>B+ B- O+ O-</td>
</tr>
<tr>
<td><span style="color: #961e1b;"><b>AB+</b></span></td>
<td>AB+</td>
<td>Everyone</td>
</tr>
<tr>
<td><span style="color: #961e1b;"><b>A-</b></span></td>
<td>A+ A- AB+ AB-</td>
<td>A- O-</td>
</tr>
<tr>
<td><span style="color: #961e1b;"><b>O-</b></span></td>
<td>Everyone</td>
<td>O-</td>
</tr>
<tr>
<td><span style="color: #961e1b;"><b>B-</b></span></td>
<td>B+ B- AB+ AB-</td>
<td>B- O-</td>
</tr>
<tr>
<td><span style="color: #961e1b;"><b>AB-</b></span></td>
<td>AB+ AB-</td>
<td>AB- A- B- O-</td>
</tr>
</tbody>
</table>
<hr>
     </div>
    </div> 		






<div class='contaienr-fluid' style="color: black;" >

    <div class='col-md-12 text-center' style="background-color: white" >
                <header class="typeHeading" style="background-color: rgb(31, 31, 31);">
                    <h1 style="color: rgb(255, 255, 255); background-color: red;">Types of Donation</h1>
                    <img src="assets/images/gifs/BDGIF.gif" style="height: 15rem; width: 15rem;">
                    <img src="assets/images/typeofblooddon.jpg" style="height: 15rem; width: 65rem;"><hr>
                </header>
                <!-- /Header -->
               
                <!-- Content -->
                <div class="container" style="background-color:  white;">
                    <p style="text-align: center;" style="color: black; font-size:120%;">The human body contains five liters of blood, which is made of several useful components i.e. <strong>Whole blood</strong>, <strong>Platelet</strong>, and <strong>Plasma</strong>.</p>
                    <p style="text-align: center;" style="color: black; font-size:120%;">Each type of component has several medical uses and can be used for different medical treatments. your blood donation determines the best donation for you to make.</p>
                    <p style="text-align: center;" style="color: black; font-size:120%;">For <strong>Plasma</strong> and <strong>Platelet</strong> donation you must have donated whole blood in past two years.</p>
                                                
                </div>
                <br><hr>

                <!-- "Tabs" -->
                <mat-tab-group animationDuration="1500ms" >
                    <mat-tab label="Whole Blood">
            
            <!-- WholeBlood -->
            <div class='row tabInfo'   id='wholeBlood'   style="background-color: rgb(37, 62, 107);  color: white;">
            <div class='col-md-4'  >
            
                <h2 style="font-family: cursive;">What is it?</h2>
                <img src="assets/images/Tabs/Wb1.jpg" style="width: 250px; border-radius:1rem;"><br><br>

                
                <p>
                Blood Collected straight from the donor after its donation usually separated into red blood cells, platelets, and plasma.</p>
                <hr style="background-color: tomato;">
                <h2 style="font-family: cursive;">Who can donate?</h2>
                <img src="assets/images/Tabs/who.jpg" style="width: 150px;"><br><br>
                <p>You need to be 18-65 years old, weigh 45kg or more and be fit and healthy.</p>
            
    
            </div>
           
           <div class='col-md-4 infoContent'  >
             <h2 style="font-family: cursive;">Used For?</h2>
             <img src="assets/images/Tabs/usedfor1.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
                <p>
                 Stomach disease, kidney disease, childbirth, operations, blood loss, trauma, cancer, blood diseases, haemophilia, anemia, heart disease.</p>
                 <hr style="background-color: tomato;">
                <h2 style="font-family: cursive;">Lasts For?</h2>
                <img src="assets/images/Tabs/lastsfor1.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
                <p>Red cells can be stored for 42 days.</p>
            
            </div>
            <div class='col-md-4 ' >
             <h2 style="font-family: cursive;">How long does it take?</h2>
             <img src="assets/images/Tabs/howlong.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
                <p>
                15 minutes to donate.</p>
                
                <hr style="background-color: tomato;">
                <h2 style="font-family: cursive;">How often can I donate?</h2>
                <img src="assets/images/Tabs/howoften1.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
                <p>Every 12 weeks</p>
            
            </div>
            </div>
            </mat-tab>
            
            
            <!-- Plasma -->
                <mat-tab label="Plasma">
            <div class='row tabInfo'    id='plasma' style="background-color: rgb(37, 107, 69);  color: white;">
            <div class='col-md-4 '  >
            
                <h2 style="font-family: cursive;">What is it?</h2>
                <img src="assets/images/Tabs/Plasma1.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
                <p>
                The straw-coloured liquid in which red blood cells, white blood cells, and platelets float in.Contains special nutrients which can be used to create 18 different type of medical products to treat many different medical conditions.</p>
                
                <hr style="background-color: gold;" >
                <h2 style="font-family: cursive;">Who can donate?</h2>
                <img src="assets/images/Tabs/who.jpg" style="width: 150px;"><br><br>
                
                <p>You need to be 18-70 (men) or 20-70 (women) years old, weigh 50kg or more and must have given successful whole blood donation in last two years. </p>
            
    
            </div>
            <div class='col-md-4 infoContent'>
            <h2 style="font-family: cursive;">Used For?</h2>
            <img src="assets/images/Tabs/usedfor2.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
                <p>
                Immune system conditions, pregnancy (including anti-D injections), bleeding, shock, burns, muscle and nerve conditions, haemophilia, immunisations.</p>
                
                <hr style="background-color: gold;">
                <h2 style="font-family: cursive;">Lasts For?</h2>
                <img src="assets/images/Tabs/lastsfor2.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
                <p>Plasma can last up to one year when frozen.</p>
            
            </div>
        <div class='col-md-4 '>
             <h2 style="font-family: cursive;">How  does it work?</h2>
             <img src="assets/images/Tabs/wroking1.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
                <p>
                We collect your blood, keep plasma and return rest to you by apheresis donation.</p>
                <hr style="background-color: gold;">
            
             <h2 style="font-family: cursive;">How long does it take?</h2>
             <img src="assets/images/Tabs/howlong.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
                <p>
                15 minutes to donate.</p>
                
                <hr style="background-color: gold;">
                <h2 style="font-family: cursive;">How often can I donate?</h2>
                <img src="assets/images/Tabs/howoften2.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
                <p>Every 2-3 weeks.</p>
            
            </div>
        </div>
     </mat-tab>
            
            
            
            <!-- Platelet -->
            
     <mat-tab label="Platelet">
        <div class='row tabInfo'  id='platelet' style="background-color: rgb(107, 37, 86);  color: white;">
            <div class='col-md-4 '>
            
                <h2 style="font-family: cursive;">What is it?</h2>
                <img src="assets/images/Tabs/Platelet1.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
               
                <p>
                The tiny 'plates' in blood that wedge together to help to clot and reduce bleeding. Always in high demand, Vital for people with low platelet count, like malaria and cancer patients.</p>
                
                <hr style="background-color: rgb(72, 255, 0);">
                <h2 style="font-family: cursive;">Who can donate?</h2>
                <img src="assets/images/Tabs/who.jpg" style="width: 150px;"><br><br>
                
                <p>You need to be 18-70 years old (men), weigh 50kg or more and have given a successful plasma donation in the past 12 months</p>
            
    
            </div>
            <div class='col-md-4 infoContent'>
             <h2 style="font-family: cursive;">Used For?</h2>
             <img src="assets/images/Tabs/usedfor3.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
                <p>
                Cancer, blood diseases, haemophilia, anaemia, heart disease, stomach disease, kidney disease, childbirth, operations, blood loss, trauma, burns.</p>
                
                <hr style="background-color: rgb(72, 255, 0);">
                <h2 style="font-family: cursive;">Lasts For?</h2>
                <img src="assets/images/Tabs/lastsfor3.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
                <p>Just five days..</p>
            
            </div>
        <div class='col-md-4 '>
            <h2 style="font-family: cursive;">How does it work?</h2>
            <img src="assets/images/Tabs/working2.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                <p>
                We collect your blood, keep platelet and return rest to you by apheresis donation.</p>
                
                <hr style="background-color: rgb(72, 255, 0);">
             <h2 style="font-family: cursive;">How long does it take?</h2>
             <img src="assets/images/Tabs/howlong.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                

                <p>
                45 minutes to donate.</p>
                
                <hr style="background-color: rgb(72, 255, 0);">
                <h2 style="font-family: cursive;">How often can I donate?</h2>
                <img src="assets/images/Tabs/howoften3.jpg" style="width: 250px; border-radius:1rem;"><br><br>
                
                <p>Every 2 weeks</p>
            
            </div>
         </div>
    </mat-tab>
</mat-tab-group>
<hr>


<mat-expansion-panel >
    <mat-expansion-panel-header style="background-color: #18453B;">
      <mat-panel-title>
        <button mat-raised-button   style="margin-left: 4.2in; width: 5in; color: white; background-color: rgba(0, 0, 0, 0.781); font-size: 1.2rem; font-family: 'Times New Roman', Times, serif;">World Blood Donor Day - 14th June</button>
      </mat-panel-title>
      </mat-expansion-panel-header>
    <app-donationday></app-donationday>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header style="background-color: #043927;">
      <mat-panel-title>
      <button mat-raised-button   style="margin-left: 4.2in; width: 5in; color: white; background-color: rgba(0, 0, 0, 0.781); font-size: 1.2rem; font-family: 'Times New Roman', Times, serif;">World Health Day - 7th April</button>
      </mat-panel-title>
      </mat-expansion-panel-header>
    <app-healthday></app-healthday>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header style="background-color: #004526; ">
      <mat-panel-title>
        <a><b><button mat-raised-button  style="margin-left: 4.2in; width: 5in; color: white; background-color:rgba(0, 0, 0, 0.781); font-size: 1.2rem; font-family: 'Times New Roman', Times, serif;">World Haemophilia Day - 17th April</button></b></a>
      </mat-panel-title>
      </mat-expansion-panel-header>
    <app-hemophilliaday></app-hemophilliaday>
  </mat-expansion-panel>

   <mat-expansion-panel >
    <mat-expansion-panel-header style="background-color: #006241;">
      <mat-panel-title>
        <button mat-raised-button   style="margin-left: 4.2in; width: 5in;  color: white; background-color: rgba(0, 0, 0, 0.781); font-size: 1.2rem; font-family: 'Times New Roman', Times, serif; ">National Voluntary Blood Donation Day  - 1st October</button>
      </mat-panel-title>
      </mat-expansion-panel-header>
      <app-nvbdd></app-nvbdd>
  </mat-expansion-panel>
  
  <mat-expansion-panel >
    <mat-expansion-panel-header style="background-color: #018749;">
      <mat-panel-title>
        <button mat-raised-button   style="margin-left: 4.2in; width: 5in;  color: white; background-color: rgba(0, 0, 0, 0.781); font-size: 1.2rem; font-family: 'Times New Roman', Times, serif;">World Thalassemia Day - 8th May</button>
      </mat-panel-title>
      </mat-expansion-panel-header>
      <app-thalassemiaday></app-thalassemiaday>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header style="background-color: #00AB66;">
      <mat-panel-title>
        <button mat-raised-button   style="margin-left: 4.2in; width: 5in;  color: white; background-color: rgba(0, 0, 0, 0.781); font-size: 1.2rem; font-family: 'Times New Roman', Times, serif;">International Plasma Awareness Week</button>
      </mat-panel-title>
      </mat-expansion-panel-header>
      <app-ipaw></app-ipaw>
  </mat-expansion-panel>
  <hr>





