<h2 mat-dialog-title style="text-align: center; background-color: red; color: white;"><u>World Haemophilia Day</u></h2>
<mat-dialog-content style="background-color: white;">
    
    <p><img src="assets/images/gifs/Haemo1.gif" width="250px" height="200px">
    <img src="assets/images/PopUp/Haemophilia.jpg" width="500px" height="200px">
    <img src="assets/images/gifs/Haemo2.gif" width="250px" height="200px"></p><hr>
    
    <p style="font: icon;">The <strong>World Haemophilia Day</strong> was started by the World Federation of Haemophilia in 1989 and 17 April, was chosen to celebrate it in honour of the founder of World Federation Haemophilia Frank Schnabel's birthday. Actually, Haemophilia was discovered in the 10th century, 
        when people started to take a serious interest, especially in males, who after minor injuries due to bleeding caused death. That time this disease was known as Abulcasis. But, due to limited technology, it was not cured. Especially, that time this disease was common in European royal families and was treated with aspirin which further thinned the blood and 
        condition becomes worse. Then, Dr. John Conrad Otto of Philadelphia in 1803 began to study
         people called "bleeders" and said that it is a hereditary illness which passes on to males by their mothers. In 1937, haemophilia genetic disorder was divided into two types: A and B. But no proper treatment was invented till that time.
        Then, 17 April was chosen to raise awareness among people about Haemophilia disease on the occasion of the founder of WFH birthdays. The day encourages people, increase awareness to collect funds for the treatment of this disease for those people who can't afford it.</p>
 
 

</mat-dialog-content>