<div class="row">
  <div class="column" style="margin-left: 1rem;">
<div id="bg"><br>
<mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title>Kharadi Office</mat-card-title>
      <mat-card-subtitle>WTC, Pune</mat-card-subtitle>
    </mat-card-header><hr>
    <img mat-card-image src="assets/images/WTC1.jpg" style="width: 35rem; height: 20rem; margin-left: 0.05rem;" alt="World Trade Centre">
    <mat-card-content>
    <h3 style="margin-left: 3rem;">909, 9th Floor,Tower 2, World Trade Centre, Kharadi, Pune-411014</h3>
    <h3 style="margin-left: 13rem;"><i class="fas fa-phone"></i> 8666666666</h3>
  </mat-card-content><hr>
    
  </mat-card><br>
</div>
</div>

<div class="column" style="margin-left: 3rem;">
  <div id="bg"><br>
  <mat-card class="example-card" >
      <mat-card-header>
        <mat-card-title>Balewadi Office</mat-card-title>
        <mat-card-subtitle>Business Park, Pune</mat-card-subtitle>
      </mat-card-header><hr>
      <img mat-card-image src="assets/images/office1.jpg" style="width: 35rem; height: 20rem; margin-left: 0.05rem;" alt="World Trade Centre">
      <mat-card-content>
      <h3 style="margin-left: 3rem;">304, 3rd Floor,Tower 2,Business Park, Balewadi High Street, Pune-411045</h3>
      <h3 style="margin-left: 14rem;"><i class="fas fa-phone"></i> 8777777777</h3> 
    </mat-card-content><hr>
      
    </mat-card><br>
  </div>
  </div>
</div><hr>