<h2 mat-dialog-title style="text-align: center; background-color: red; color: white;"><u>World Health Day</u></h2>
<mat-dialog-content style="background-color: white;">
    
    <p><img src="assets/images/gifs/WHD.gif" width="250px" height="200px">
    <img src="assets/images/PopUp/WHD.jpg" width="500px" height="200px">
    <img src="assets/images/gifs/WHD1.gif" width="250px" height="200px"></p><hr>
    
    <p style="font: icon;">The <strong> World Health Day </strong> is a global health awareness day celebrated every year on 7 April, under the sponsorship of the World Health Organization (WHO), as well as other related organizations.
 In 1948, the WHO held the First World Health Assembly. The Assembly decided to celebrate 7 April of each year, with effect from 1950, as the World Health Day. The World Health Day is held to mark WHO's founding and is seen as an opportunity by the organization to draw worldwide attention to a subject of major importance to global health each year. The WHO organizes international, regional and local events on the Day related to a particular theme. World Health Day is acknowledged by various governments and non-governmental organizations with interests in public health issues, who also organize activities and highlight their support in media reports, such as the Global Health Council.</p>

 

</mat-dialog-content>