<div class="town2">
<div id="blog" class="blog-container contaienr-fluid">
    <div class="container">
        
          <h2 style="color: rgb(255, 255, 255); background-color:red; text-align: center;">News About Blood Donation In Pune City</h2>
        
        <div class="row news-row">
            <div class="col-md-6">
                <div class="news-card">
                    <div class="image">
                        <img src="assets/images/blog/blog_01.jpg" style="height: 14rem; width: 50rem;" alt="">
                    </div>
                    <div class="detail">
                        <a href="https://www.punekarnews.in/pune-police-organize-blood-donation-camp-as-part-of-road-safety-week-2021/" >  <h3 style="color: black;">Pune Police Organize Blood Donation Camp As Part Of Road Safety Week 2021</h3></a>
                        <p style="color: black;">Pune, January 23, 2021: As part of the Road Safety Week 2021, a Blood Donation Camp was organized from January 21 to January 23 in collaboration with Pune City Police Traffic Branch and Regional Blood Bank of Sassoon Hospital and Pune Police Hospital.</p>
                        <p class="footp " style="color: black;">
                            20 Comments <span>/</span>
                            Read More
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="news-card">
                    <div class="image">
                        <img src="assets/images/blog/blog_02.jpg"  style="height: 14rem; width: 50rem;" alt="">
                    </div>
                    <div class="detail">
                       <a href="https://www.punekarnews.in/kharadi-1644-bottles-blood-collected-at-blood-donation-camp-on-republic-day/" ><h3 style="color: black;">Kharadi: 1644 Bottles Blood Collected At Blood Donation Camp On Republic Day</h3></a>
                        <p style="color: black;"> Pune, January 28, 2021: Surendra Pathare Foundation had organised a blood donation camp on the occasion of Republic day which received a massive response from the youngsters. In the camp, 1644 bottles of blood were donated.

                        </p>
                        <p class="footp" style="color: black;">
                            45 Comments <span>/</span>
                            Read More
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="news-card">
                    <div class="image">
                        <img src="assets/images/blog/blog_03.jpg" style="height: 14rem; width: 50rem;" alt="">
                    </div>
                    <div class="detail">
                       <a href="https://www.punekarnews.in/pune-university-appeals-youths-for-blood-and-plasma-donation/" ><h3 style="color: black;">Pune University Appeals Youths For Blood And Plasma Donation</h3></a>
                        <p style="color: black;">Pune, 30 April 2021: Savitribai Phule Pune University (SPPU) vice-chancellor Dr Nitin Karmalkar has appealed to the youths to come forward and donate blood and plasma for Covid-19 patients. The demand for blood has risen exponentially in the month.</p>

                           
                        <p class="footp" style="color: black;">
                            40 Comments <span>/</span>
                            Read More
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="news-card">
                    <div class="image">
                        <img src="assets/images/blog/blog_04.jpg" style="height: 14rem; width: 50rem;"  alt="">
                    </div>
                    <div class="detail">
                      <a href="https://punemirror.indiatimes.com/pune/others/free-blood-from-dec-12-as-state-waives-processing/articleshow/79667321.cms" ><h3 style="color: black;">Maharashtra: Free blood from December 12 as state waives Rs 800 processing fee</h3></a>
                        <p style="color: black;">In view of a severe shortage faced by blood banks across the state, Health Minister Rajesh Tope has appealed to the people to come forward for donations.
                        Tope has also waived the processing fee on blood in Government Hospitals. </p>
                        <p class="footp" style="color: black;">
                            900 Comments <span>/</span>
                            Read More
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>