

    <div class="container">
        <hr style="background-color: blue;">
        <div class="row session-title text-center">
            <h2 style="color: white; background-color: red;">About Us</h2>
         </div>
         <div class="row">
             <div class="col-md-6 ">
                 <h2 style="color: rgb(255, 255, 255); background-color: rgb(37, 37, 37); text-align:center;">About BloodLine</h2>
                 <br><p style="color: black;">Blood transfusion safety remains an important public health
                    concern in Pune. The availability of blood products of all blood
                    types and the provision of its safety ensure public trust of its
                    excellent healthcare system.</p>
                
                 <p style="color: black;">However, lack of availability of these blood products and
                 provision of unsafe blood products still impact morbidity and
                 mortality in the city. Through the use of online blood bank
                 management system, blood transfusion safety is expected to be
                 improved. Risks of Donor Information manhandling can be
                 avoided. Also, processes involving blood bag collection, storage,
                 and inventory will be systematized and organized, hence,
                 improving the blood provision & management.</p>
                
                 <p style="color: black;"> We at BloodLine strive to:</p>
                   <ul>
                   <li style="color: black;"> 1.To ensure hospital to have rich supply or inventories
                    of blood bags.</li>
                    
                   <li style="color: black;"> 2.To check the availability of blood bags anytime.</li>
                    
                   <li style="color: black;"> 3.To manage the information of its blood donor.</li>
                    
                    <li style="color: black;"> 4.To allow good documentation about the donor and its
                    blood donation activities.</li>
                    
                  <li style="color: black;"> 5.Support fast searching.</li></ul> <br>

                 <p style="color: black;"> The main aim of
                    BloodLine is therefore to establish a forum for people
                    connected to potential blood banks as well as blood donors
                    throughout the City.</p>
             </div>
             <div class="col-md-6 image">
                 <img src="assets/images/about.jpg" alt="" height="400px" width="550px" style="left: 7rem; border-radius: 2rem;">
             </div>
         </div>
    </div>
<br><hr style="background-color: indigo;">





<h1 style="text-align: center; color: tomato; font-family: cursive; font-size: 2rem;"><u>From The Creator's Desk</u></h1>
<div class="container mt-5 pt-5 mt-5-sm" >
    <div class="row mb-5">
      
      <div class="col-lg-7 col-sm-10 mx-auto mb-3 d-flex justify-content-center flex-column">
       
        <h2 style="font-size: 1.5rem; font-family:'Times New Roman', Times, serif;" ><span style=" color: red;">"</span>I was in a Hospital paying visit to my friend who was ill and had been admitted in the Hospital. While i was on my way Home after meeting my friend, a woman at the door of the hospital stopped me enquiring about my blood group. She was in a lot of tension, She urgently needed someone who could donate AB Negative blood to her son who had suffered 
          injuries in a bike accident. The blood stock was nowhere to be available near the hospital that we were in. It was then, that the very idea of creating <span style=" color: red;">BloodLine</span> struck my mind. An Online Portal that encourages people
          to donate blood and ensures that the blood stock of any type doesn't get exhausted throughout the city.<span style=" color: red;">"</span></h2>
          <h2 style="font-family: fantasy; color: black;"><u>Atharva Deshmukh</u> <span><h3>(Co-Creator: "BloodLine")</h3></span></h2>
      </div>
      <div class="col-lg-4 col-sm-10 mx-auto mb-3 ">
        <img class="wd-inherit color-hover" style="height: 400px; margin-right: 2in; border-radius: 2rem;" src="assets/images/testimonial/Atharva.jpg" alt="">
      </div>
      </div>
      </div><hr style="background-color: crimson;">

      <div class="container mt-5 pt-5 mt-5-sm" >
    <div class="row mb-5">

      <div class="col-lg-4 col-sm-10 mx-auto mb-3 ">
        <img class="wd-inherit color-hover" style="height: 400px; margin-right: 2in; border-radius: 2rem;" src="assets/images/testimonial/Soham.jpg" alt="">
      </div>  

      <div class="col-lg-7 col-sm-10 mx-auto mb-3 d-flex justify-content-center flex-column">
       
        <h2 style="font-size: 1.5rem; font-family:'Times New Roman', Times, serif"><span style=" color: red;">"</span>Atharva came up to me with this idea of creating <span style=" color: red;">BloodLine</span> and I thought this initiative would be of great help. India is a densely populated country and on an average 414 accidents take place every day, More than 38,000
           blood donations are needed every day. A total of 30 million blood components
           are transfused each year. This is a huge number which can only be fulfilled if each and everyone of us contribute towards saving a life. 
           Our aim is to spread awareness about the same through our website and supply blood to the needy.<span style=" color: red;">"</span></h2>
          <h2 style="font-family: fantasy; color: black;"><u>Soham Bhirangi</u> <span><h3>(Co-Creator: "BloodLine")</h3></span></h2>
      </div>
     
    </div>
  </div>



