<h2 mat-dialog-title style="text-align: center; background-color: red; color: white;"><u>World Blood Donor Day</u></h2>
<mat-dialog-content style="background-color: white;">
    
    <p><img src="assets/images/gifs/Donor1.gif" width="250px" height="200px">
    <img src="assets/images/PopUp/Donor3.jpg" width="500px" height="200px">
    <img src="assets/images/gifs/Donor2.gif" width="250px" height="200px"></p><hr>
    
    <p style="font: icon;">The <strong>World Blood Donor Day </strong> is held on June 14 each year. The event was organised for the first time in 2005, by a joint initiative of the 
        World Health Organization, the International Federation of Red Cross and Red Crescent Societies to raise awareness of the need for safe blood and blood products, and to thank blood donors for their voluntary, life-saving gifts of blood. World Blood Donor Day is
         one of 11 official global public health campaigns marked by the World Health Organization (WHO), along with World Health Day, World Chagas Disease Day, World Tuberculosis Day, World Immunization Week, World Patient Safety Day, World Malaria Day, World No Tobacco Day, World Hepatitis Day,
          World Antimicrobial Awareness Week and World AIDS Day.</p>

 

</mat-dialog-content>
