.city{
  background: #614385;  
background: -webkit-linear-gradient(to right, #516395, #614385);  
background: linear-gradient(to right, #516395, #614385); 

}


/* Footer */
footer {
    background: rgba(0, 0, 0, 0.911);
    padding: 50px !important;
    padding: 50px;
    padding-bottom: 32px !important; }
    @media screen and (max-width: 940px) {
      footer {
        padding: 30px 10px; } }
    @media screen and (max-width: 600px) {
      footer {
        padding-bottom: 0px !important;
        padding-left: 15px !important;
        padding-right: 15px !important; } }
    @media screen and (max-width: 991px) {
      footer {
        padding-bottom: 50px !important; } }
    footer .content-ro {
      color: #FFF;
      margin-top: 20px; }
      footer .content-ro h2 {
        font-size: 1.3rem;
        font-weight: 600; }
      footer .content-ro .footer-contact .address-row {
        display: flex;
        margin-top: 10px; }
        footer .content-ro .footer-contact .address-row .icon {
          padding: 15px; }
        footer .content-ro .footer-contact .address-row .detail p {
          font-weight: 300; }
      footer .content-ro .footer-links ul {
        margin-bottom: 15px; }
        footer .content-ro .footer-links ul li {
          float: left;
          width: 50%;
          font-weight: 300; }
    
    footer .footer-copy {
      padding: 30px 0px;
      color: #FFF;
      margin-top: 35px;
      border-top: 1px solid #fd8c90;
      padding-bottom: 0px; }
      footer .footer-copy a {
        color: #ccc; }
   
      
  
  .footer-bot-image img {
    position: absolute;
    margin-top: -112px; }


    .flip-card {
      background-color: transparent;
      width: 300px;
      height: 300px;
      perspective: 1000px;
      margin-bottom: 10px;
      margin-top: -60px;
    }
    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

    }
    
    .flip-card-front {
      background-color: #bbb;
      color: black;
    }
    
    .flip-card-back {
      background-color: #2980b9;
      color: white;
      transform: rotateY(180deg);
    }
  
    .row-fluid{
        color: white;
    }
  


    body {font-family: Arial, Helvetica, sans-serif;}
                        
                        /* Full-width input fields */
                        input[type=text], input[type=password] {
                          width: 100%;
                          padding: 12px 20px;
                          margin: 8px 0;
                          display: inline-block;
                          border: 1px solid #ccc;
                          box-sizing: border-box;
                        }
                        
                         /* Extra styles for the cancel button */
                        .cancelbtn {
                          width: auto;
                          padding: 10px 18px;
                          background-color: #f44336;
                        }
                        
                        /* Center the image and position the close button */
                        .imgcontainer {
                          text-align: center;
                          margin: 24px 0 12px 0;
                          position: relative;
                        }
                        
                        img.avatar {
                          width: 40%;
                          border-radius: 50%;
                        }
                        
                        .container {
                          padding: 16px;
                        }
                        
                        span.psw {
                          float: right;
                          padding-top: 16px;
                        }
                        
                        /* The Modal (background) */
                        .modal {
                          display: none; 
                          position: fixed; 
                          z-index: 1; 
                          left: 0;
                          top: 0;
                          width: 100%; 
                          height: 100%; 
                          overflow: auto; 
                          background-color: rgb(0,0,0); 
                          background-color: rgba(0,0,0,0.4);
                          padding-top: 60px;
                        }
                        
                        /* Modal Content/Box */
                        .modal-content {
                          background-color: #fefefe;
                          margin: 5% auto 15% auto; 
                          border: 1px solid #888;
                          width: 80%; 
                        }
                        
                        /* The Close Button (x) */
                        .close {
                          position: absolute;
                          right: 25px;
                          top: 0;
                          color: #000;
                          font-size: 35px;
                          font-weight: bold;
                        }
                        
                        .close:hover,
                        .close:focus {
                          color: red;
                          cursor: pointer;
                        }
                        
                        /* Add Zoom Animation */
                        .animate {
                          -webkit-animation: animatezoom 0.6s;
                          animation: animatezoom 0.6s
                        }
                        
                        @-webkit-keyframes animatezoom {
                          from {-webkit-transform: scale(0)} 
                          to {-webkit-transform: scale(1)}
                        }
                          
                        @keyframes animatezoom {
                          from {transform: scale(0)} 
                          to {transform: scale(1)}
                        }
                        
                        /* Styles for span and cancel button on extra small screens */
                        @media screen and (max-width: 300px) {
                          span.psw {
                             display: block;
                             float: none;
                          }
                          .cancelbtn {
                             width: 100%;
                          }
                        }

                        
         .btn-grad {background-image: linear-gradient(to right, #780206 0%, #061161  51%, #780206  100%)}
         .btn-grad {
            
            padding: 10px 25px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 5px;
            
          }

          .btn-grad:hover {
            background-position: right center; 
            color: #fff;
            text-decoration: none;
          }

         
          header {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
            header .header-top {
              background-color: #de1f26; }
              header .header-top .col-det .ulleft li {
                float: left;
                padding: 11px;
                color: #FFF;
                font-size: 1rem;
                font-weight: 400; }
                header .header-top .col-det .ulleft li i {
                  margin-right: 5px; }
                header .header-top .col-det .ulleft li span {
                  margin-left: 15px; }
              header .header-top .col-det .ulright {
                float: right; }
                header .header-top .col-det .ulright li {
                  float: left;
                  padding: 11px;
                  color: #FFF;
                  font-size: 1rem; }
                  header .header-top .col-det .ulright li i {
                    margin-right: 5px; }
                  header .header-top .col-det .ulright li span {
                    margin-left: 15px; }
            header .header-bottom {
              background-color: #FFF; }
              header .header-bottom .navbar {
                float: right; }
                @media screen and (max-width: 991px) {
                  header .header-bottom .navbar {
                    width: 100%; } }
              header .header-bottom img {
                margin-top: 15px; }
                @media screen and (max-width: 991px) {
                  header .header-bottom img {
                    padding: 5px;
                    margin-top: 0px;
                    max-width: 230px; } }
            header .nav-col .navbar-nav li {
              padding: 14px 20px;
              font-weight: 600; }
          
          @media screen and (max-width: 767px) {
            .navbar {
              padding: 0px; } }
          
          .navbar-toggler {
            position: absolute;
            right: 0px;
            top: 19px; }
            @media screen and (max-width: 767px) {
              .navbar-toggler {
                top: -50px; } }
          
          .scroll-to-fixed-fixed {
            background-color: #FFF;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
          

                      



              .fa {
            padding: 10px;
            font-size: 30px;
            width: 40px;
            text-align: center;
            text-decoration: none;
            border-radius: 10%;
            margin-top: -15px;
            margin-right: 1rem;
            
          }
          
          .fa:hover {
              opacity: 0.7;
          }
          
          .fa-facebook {
            background: #3B5998;
            color: white;
          }
          
          .fa-twitter {
            background: #55ACEE;
            color: white;
          }
          
          .fa-google {
            background: #dd4b39;
            color: white;
          }
          
          .fa-linkedin {
            background: #007bb5;
            color: white;
          }
          
          
          .fa-instagram {
            background: #125688;
            color: white;
          }