<body>
<div class="container"><hr>
  <h1 style="align-content: center;"><a class="blink" style="margin-left: 12rem;">Call on : 8999999999 for Organising a Camp in your Premises!</a></h1>

<div class="container mt-5 pt-5 mt-5-sm">
    <div class="row mb-5 pt-5-sm">
      <div class="col-lg-5 col-sm-10 mx-auto">
        <img class="wd-inherit color-hover" src="assets/images/testimonial/BloodCamp1.jpg" alt="">
      </div>
      <div class="col-lg-6 col-sm-10 mx-auto mb-3 d-flex flex-column justify-content-center">
        <h2 class="f-30  color-dark mb-3"><u>What are Blood Donation Camps</u></h2>
        <p class="color--dark-light">Rather than going to the hospital to donate blood, we bring the hospital to you. We
          partner with government recognized blood banks who bring their expert doctors and staff to conduct a clean
          blood donation camp without any hassles. The camp can be organized in a common area or in a blood donation bus
          which we can bring. We make all the other arrangements, you just have to provide a ventilated clean area.Now
          saving lives does not need any travel even, just 20minutes at the camp! </p>

      </div>
    </div>
    <div class="row mb-5">

      <div class="col-lg-6 col-sm-10 mx-auto mb-3 d-flex justify-content-center flex-column">
        <h2 class="f-30 mb-3  color-dark"><u>How we can make them different</u></h2>
        <p class="color-dark-light">We do not just help you organize a camp, but we also try to ensure each donor feels
          special. A blood donation camp can be fun with music, it can have a theme, it can motivate people for greater
          things. We help you do that, right from motivating people before the camp to ensuring each donor feels a sense
          of pride and happiness post donation.</p>
      </div>
      <div class="col-lg-5 col-sm-10 mx-auto mb-3 ">
        <img class="wd-inherit color-hover" src="assets/images/testimonial/BloodCamp2.jpg" alt="">
      </div>
      
    </div>
  </div>
  </div>
</body>





  