<div class="town1">
<div id="gallery" class="gallery container-fluid">
        <div class="container">
            <div class="row session-title">
                <h2 style="background-color: red; color: white;">Checkout Our Gallery</h2>
            </div>
          
            <!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="assets/images/gallery/g1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
  
      <img
        src="assets/images/gallery/g2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/images/gallery/g3.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
  
      <img
        src="assets/images/gallery/g4.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="assets/images/gallery/g5.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
  
      <img
        src="assets/images/gallery/g6.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
    </div>
  </div>
</div>


<!-- Video Container -->
<div class="row session-title">
    <h2 style="background-color: red; color: white;">Video Gallery</h2>
    <div class="col-lg-6" style="background-color: rgb(22, 22, 22);">
    <video width="550" height="400" controls >
        <source src="assets/images/gallery/DonateBlood1.mp4" type="video/mp4">        
          </video><h2><u> Blood Donation Awareness Video </u></h2></div>
         <div class="col-lg-6" style="background-color: rgb(22, 22, 22);">
          <video width="550" height="400" controls  >
          <source src="assets/images/gallery/DonateBlood2.mp4"  type="video/mp4">
            </video><h2><u> Blood Donation Promotion Video</u> </h2></div>
            <div class="col-lg-6" style="background-color: rgb(22, 22, 22);">
                <video width="550" height="400" controls >
                    <source src="assets/images/gallery/DonateBlood3.mp4" type="video/mp4">        
                      </video><h2><u>What Happens To Donated Blood?</u></h2></div>
                      <div class="col-lg-6" style="background-color: rgb(22, 22, 22);">
                        <video width="550" height="400" controls >
                            <source src="assets/images/gallery/DonateBlood4.mp4" type="video/mp4">        
                              </video><h2><u>Donate Blood - Save A Life </u> </h2></div>
</div>
</div>
<hr>