
<div id="gallery" class="gallery container-fluid">
        <div class="container">
            <div class="row session-title">
                <h2 style="background-color: red; color: white;">Checkout Our Gallery</h2>
            </div>
            <div class="gallery-row row">
                    <div id="gg-screen"></div>
                    <div class="gg-box">
                            <div class="gg-element">
                                <img src="assets/images/gallery/g1.jpg">
                            </div>
                            <div class="gg-element">
                                <img src="assets/images/gallery/g2.jpg">
                            </div>
                            <div class="gg-element">
                                <img src="assets/images/gallery/g3.jpg">
                            </div>
                            <div class="gg-element">
                                <img src="assets/images/gallery/g4.jpg">
                            </div>
                            <div class="gg-element">
                                <img src="assets/images/gallery/g5.jpg">
                            </div>
                            <div class="gg-element">
                                <img src="assets/images/gallery/g6.jpg">
                            </div>
                            <div class="gg-element">
                                <img src="assets/images/gallery/g7.jpg">
                            </div>
                            <div class="gg-element">
                                <img src="assets/images/gallery/g8.jpg">
                            </div>
                            <div class="gg-element">
                                <img src="assets/images/gallery/g9.jpg">
                            </div>
                            <div class="gg-element">
                                <img src="assets/images/gallery/g10.jpg">
                            </div>
                            
                    </div>
                          </div>
            </div>
    
</div>


<div class="row session-title">
    <h2 style="background-color: red; color: white;">Video Gallery</h2>
    <div class="col-lg-6" style="background-color: rgb(22, 22, 22);">
    <video width="600" height="400" controls >
        <source src="assets/images/gallery/DonateBlood1.mp4" type="video/mp4">        
          </video><h2><u> Blood Donation Awareness Video </u></h2></div>
         <div class="col-lg-6" style="background-color: rgb(22, 22, 22);">
          <video width="600" height="400" controls  >
          <source src="assets/images/gallery/DonateBlood2.mp4"  type="video/mp4">
            </video><h2><u> Blood Donation Promotion Video</u> </h2></div>
            <div class="col-lg-6" style="background-color: rgb(22, 22, 22);">
                <video width="600" height="400" controls >
                    <source src="assets/images/gallery/DonateBlood3.mp4" type="video/mp4">        
                      </video><h2><u>What Happens To Donated Blood?</u></h2></div>
                      <div class="col-lg-6" style="background-color: rgb(22, 22, 22);">
                        <video width="600" height="400" controls >
                            <source src="assets/images/gallery/DonateBlood4.mp4" type="video/mp4">        
                              </video><h2><u>Donate Blood - Save A Life </u> </h2></div>
</div>
<hr>