<h2 mat-dialog-title style="text-align: center; background-color: red; color: white;"><u>National Voluntary Blood Donation Day</u></h2>
<mat-dialog-content style="background-color: white;">
    
    <p><img src="assets/images/gifs/nvbdd2.gif" width="250px" height="200px">
    <img src="assets/images/PopUp/nvbdd1.jpg" width="500px" height="200px">
    <img src="assets/images/gifs/nvbdd3.gif" width="250px" height="200px"></p><hr>
    
    <p style="font: icon;">On 1 October every year<strong> National Voluntary Blood Donation Day </strong> is observed in India since 1975 to encourage healthy people to donate blood. It also seeks to dispel misconceptions related to blood donation and increasing the self-esteem of blood donors by thanking them for their work.

        Blood donation is said to be a noble and selfless act. A single blood donation can save up to three lives. But a lot of people are hesitant about donating blood due to a variety of reasons including fear of pain, anaemia or needles and their own beliefs and customs.
        
        However, blood donation is completely safe for healthy adults.  </p>

 

</mat-dialog-content>