.btn-grad {background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%)}
.btn-grad {
  
   padding: 15px 45px;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 10px #eee;
   border-radius: 5px;
   
 }

 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }

 .header-top{
  background: #c31432; 
  background: -webkit-linear-gradient(to right, #240b36, #c31432); 
  background: linear-gradient(to right, #240b36, #c31432);
  
 }

 
 .city{
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}



  /* ===================================== Slider CSS ================================== */
  .slider-detail .carousel-caption {
    text-align: left;
    bottom: 90px;
    bottom: 105px; }
    .slider-detail .carousel-caption h5 {
      font-size: 44px;
      margin-left: -40px;
      font-weight: 600;
      text-align: center; }
    .slider-detail .carousel-caption p {
      margin-left: -40px;
      margin-top: 40px;
      font-size: 19px;
      text-align: center; }
  .slider-detail .vbh {
    margin-left: -40px;
    text-align: center; }
    .slider-detail .vbh .btn {
      padding: 10px;
      margin-top: 40px;
      width: 200px;
      margin-left: 10px;
      font-weight: 600;
      font-size: 18px; }
  .slider-detail .vdg-cur {
    color: #FFF;
    padding-top: 70px; }
  
  @media screen and (max-width: 1180px) {
    .slider-detail .carousel-caption {
      bottom: 30px; } }
  @media screen and (max-width: 1057px) {
    .slider-detail .carousel-caption {
      bottom: 10px; } }
  @media screen and (max-width: 1057px) {
    .slider-detail .carousel-caption h5 {
      font-size: 32px; } }
  @media screen and (max-width: 927px) {
    .slider-detail .carousel-caption h5 {
      font-size: 22px; } }
  @media screen and (max-width: 1057px) {
    .slider-detail .carousel-caption p {
      font-size: 16px; } }
  @media screen and (max-width: 927px) {
    .slider-detail .carousel-caption p {
      font-size: 13px; } }

